*{
    padding: 10px;
    color:white;
    text-shadow: 0 0 2px black;

}
body{
    background: rgb(70, 70, 70);
    display: grid;
    grid-auto-columns: 1fr 1fr;
    padding: 10px;   
}

header{
    border-bottom:solid 5px silver;
    border-bottom-style: ridge;
    display: grid;   
    grid-auto-columns: 1fr 1fr;
    text-align: center;
}

h1{
    grid-column-start:span 2;
    font-family: 'Indie Flower', cursive;   
}

nav{
    grid-column-start:span 2;   
}
/* styles the anchors, but will substitute the one on the bottom for icons */
a{
    color:green;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/* this is an anchor with unique features */
.active{
text-decoration: none;
color: white;
    
}
main {
border-bottom: solid 5px silver;
border-bottom-style: ridge;
}
h2{
    grid-column-start: span 2;
   margin: auto;
   font-family: 'Titan One';
    
}
img{
    float:right;
    border:solid silver;
    height: 200px;
    
}
p{
    display: grid;
    grid-auto-columns: 1fr 1fr;
}

#innerbox{ /*This is the part containing all betty's details*/
    margin:100px;
    border-style: ridge;
    border-color:silver;
    border-width:10px;
    border-radius:10px;
}
footer{
    display: flex; 
    justify-content: center;  
}   

.icons{
    width:40px;
    height:40px;
    filter:drop-shadow(0 5px 5px);

}
#icons1{
    background: url(icon1.png) 100%;
    background-size:cover;
   
}
#icons2{
    background: url(icon4.png) 100%;
    background-size:cover;
    
}
#icons3{
    background: url(icon3.png) 100%;
    background-size:cover;
    
}
#icons4{ /*substituted for text as a challenge to myself, hope it's ok*/
    background: url(icon2.png) 100%;
    background-size:cover;
    
}